body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: #000;
}
#game-canvas{
	width: 100%;
	height: 100%;
	margin: auto;
	background: #666;
}
.info{
	background: #000;
	color: #fff;
	height: 40px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 10px;
	opacity: 0.2;
}
.game-area{
	width: 500px;
	height: 700px;
	position: absolute;
	left:	50%;
	top:	50%;
	margin-left: -250px;
	margin-top: -350px;
}

.interface{
    background: rgba(155,0,0,.4);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
.interface .button{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,155,0,.4);
}
.interface .button.left{
    width: 50%;
    height: 80%;
    bottom: 30%;
    background: rgba(0,0,155,.4);
}
.interface .button.right{
    width: 50%;
    height: 80%;
    bottom: 30%;
    background: rgba(155,155,0,.4);
}
.interface .button.jump{
    height: 30%;
}

@media (max-width: 700px) {
    .game-area{
    	width: auto;
    	height: 100%;
    	position: relative;
    	left: auto;
    	top: auto;
    	margin: 0;
    }
}