body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: #000;
	color: #666;
}
#game-canvas{
	width: 100%;
	height: 100%;
	margin: auto;
}
.info{
	background: none;
	color: #fff;
	height: 40px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 10px;
	opacity: 0.2;
}
.game-area{
    position: relative;
	max-width: 500px;
	max-height: 700px;
	background-color: #666666;
	background-image: url('images/bg.jpg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	position: absolute;
	left:	50%;
	top:	50%;
	margin-left: -250px;
	margin-top: -350px;
	
	width: auto;
	height: 100%;
	position: relative;
	left: auto;
	top: auto;
	margin: 0;
	
}

@media (min-width: 500px) {
    .game-area{
        margin: 0 auto;
    }
}